{% extends 'main/base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
    <div class="auth-container">
        <h1 class="auth-title">Password Changed</h1>
        <div class="auth-message">
            <p>Your password was changed successfully!</p>
        </div>
        
        <div class="auth-links">
            {% if user.is_company %}
                <a href="{% url 'company_profile' user.username %}" class="auth-button">Back to Profile</a>
            {% else %}
                <a href="{% url 'customer_profile' user.username %}" class="auth-button">Back to Profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}