{% extends 'main/base.html' %}
{% load static %}
{% block title %}NetFix{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="site_title">NetFix</h1>
        <img class="home_logo" src="{% static 'css/logo.png' %}" alt="NetFix Logo">
        <p>Welcome to NetFix, your home services marketplace!</p>
        <div class="home-links">
            <a href="/services/">Browse Services</a><br>
            {% if not user.is_authenticated %}
                <a href="/users/register/">Register</a> | <a href="/users/login/">Login</a>
            {% else %}
                <a href="/logout/">Logout</a>
                {% if user.is_company %}
                    <a href="/company/{{ user.username }}">Profile</a> | <a href="/services/create/">Create Service</a>
                {% else %}
                    <a href="/customer/{{ user.username }}">Profile</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
